---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
{% if site.GH_ENV == 'gh_pages' %}
   <img src="{{ site.url }}/assets/gabriel.jpg">
   Login here
{% else %}
   <img src="http://localhost:4000/assets/gabriel.jpg">
{% endif %}
  <ul class="post-list">

    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
