<div class="site-header">
  <ul class="nav nav-pills pull-right" role="tablist">
     {% for page in site.pages %}                                                                               
         {% if page.title and page.title != 'Thank You'%}
             <li role="presentation"> <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> </li>
	 {% endif %}                                                                                              
    {% endfor %}   
  </ul>
  {% if site.GH_ENV == 'gh_pages' %}                                                                                                                                                                                       
      <h3 class="text-muted"><a href="{{ site.url }}" class="blockquote-box-decoration">{{ site.title }}</a></h3>
  {% else %}                                                                                                                                                                                                                
      <h3 class="text-muted"><a href="http://localhost:4000/"  class="blockquote-box-decoration">{{ site.title }}</a></h3>
  {% endif %}   

</div>
